@charset "utf-8";
/* CSS Document */
body {
    background-color: #F44336;
    font-family: "Lato", sans-serif;
    font-size: medium;
    text-align: left;
}

.container {
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    font-style: italic;
}
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 25px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }


h1 {
    color: #070707;
    font-family: "Lato", sans-serif;
    font-size: 30pt;
    text-align: center;
    font-weight: 400;
}
paragraph {
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-style: italic;
}
}